#!/bin/bash

# Create a new directory and enter it
function mkcd() {
  mkdir -p "$@" && cd "$@"
}

# Search files or directories
function f() {
  find . -iname "*$1*" ${@:2}
}

# Search in files
function r() {
  grep "$1" ${@:2} -R .
}

# File size of a file or a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh;
  else
    local arg=-sh;
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@";
  else
    du $arg .[^.]* ./*;
  fi
}
